{% extends 'base.html' %}

{% block content %}
<style>
    .subject{
        font-size: 1.2rem;
        font-weight: bold;
    }

    .dbcolor{
        border-color: darkblue;
    }

</style>


<div style="width: 100%; text-align: center; margin-top: 3rem;">
    <div style="width: 50rem; height: 30rem; margin: 3rem 3rem 3rem 3rem; display: inline-block; margin-top: 0rem">
        <div style="text-align: left; width: 13rem;">
            <p style="font-family: 'Josefin Sans', sans-serif; font-weight: 300; font-size: 2rem">
                Data Upload
            </p>
        </div>
        <!-- 제품군 선택-->
        <form action="" method="get">
            {% csrf_token%}
            <div style="text-align: left ">
                <p style="font-family: 'Nanum Gothic Coding', monospace; font-size: 1.1rem;
                font-weight: 200; display: inline-block; margin-top: 0rem; margin-bottom: 0rem;" class="subject">제품 선택</p>
                <select name='category_product' style="margin-left: 0.5rem; display: inline-block; width: 8rem; height: 1.9rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                    <option value='cleaner'>청소기</option>
                    <option value='refrigerator'>냉장고</option>
                    <option value='dish_washer'>식기세척기</option>
                </select>
                <input style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; margin-left: 0.2rem;" type="submit" value="완료">
            </div>
        </form>

        <!--현재 선택된 category를 보여줌.(나중에 삭제해야 합니다. 카테고리 작업할 때 편하라고 남겨뒀어요.)-->
        {{ request.session.category_product }}

        <hr>
        <!-- 카테고리 보기 및 생성-->
        <!-- method 설정 필요합니다. -->
        <p style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; font-size: 1.1rem; text-align: left; margin-bottom: 0.5rem" class="subject">카테고리</p>
        <div style="display: inline-block; width: 100%; height: 13rem; background-color: #eeeeee; border-radius: 1rem; padding: 1rem 1rem 1rem 1rem">

            <!-- 카테고리 리스트 -->
            <div style="height: 9rem">
            {% if category_detail %}
                {% for category_detail in category_detail %}
                <div style="display: inline-block; border: solid black;">
<!--                    <span>{{ category_detail.category_color }}</span>-->
                    <span>{{ category_detail.category_middle }}</span>
                    <a href="">X</a>
                </div>
                {% endfor %}
            {% endif %}
            </div>

            <!-- 카테고리 생성 -->
            <form action="{% url 'uploadapp:upload' %}" method="post" id="formOne">
                {% csrf_token %}
                <div style="text-align: right; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                    <input type="hidden" name="form-type" value="formOne">
                    <label for="category-label">
                        <input type="text" name="category_middle" id="category-label" placeholder="카테고리명 입력">
                    </label>
                    <label for="color-label">
                        <input type='color' name="category_color" id="color-label" value='#0000ff' style="width: 1.6rem; height: 1.6rem;">
                    </label>

                    <button type="submit" name="category_submit" value="submit">+</button>
                </div>
            </form>
        </div>

        <hr>
        <div style="margin: 0 0 3.2rem 0;">
            <p style="float:left; margin: 0 0 0 0; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; text-align: left; font-size: 1.1rem; display: inline-block" class="subject">파일 업로드</p>
            <p style="float:right; margin: 0 0 0 0; display:inline-block; color: blue; font-weight: bold">{{ request.session.message }}</p>
        </div>

        <!--엑셀 파일 업로드하기-->
        <div style="margin-top: 1rem; width: 100%; height: 3.5rem; background-color: #eeeeee; padding: 0.8rem 0.8rem 0.8rem 0.8rem; text-align: left; border-radius: 0.8rem; ">

            <form name="form2" action="{% url 'uploadapp:upload' %}" method="post" id="formTwo" enctype="multipart/form-data">
                {% csrf_token %}
            <input type="hidden" name="form-type" value="formTwo">
                <input type="file" style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;" name="upload_file">
                <input type="hidden" value="{{ request.session.category_product }}" name="category_product">

                <!--카테고리 선택 시에만 파일 업로드 가능-->
                {% if request.session.category_product is not null %}
                    <input type="submit" >
                {% else %}
                    <p style="float: right; display: inline-block; font-family: 'Nanum Gothic Coding', monospace; font-weight: 570; color: saddlebrown">카테고리를 선택해주시기 바랍니다.</p>
                {% endif %}
            </form>
        </div>

    </div>
</div>
{% endblock %}
