{% extends 'base.html' %}

{% block content %}
<style>
    .subject{
        font-size: 1.2rem;
        font-weight: bold;
    }


</style>


<div style="width: 100%; text-align: center">
    <div style="width: 50rem; height: 1rem; margin: 3rem 3rem 3rem 3rem; display: inline-block; margin-top: 0rem">
        <div style="text-align: left; width: 13rem;">
            <p style="font-family: 'EB Garamond', serif; font-family: 'Josefin Slab', serif; font-family: 'Sansita Swashed', cursive; font-size: 2rem">
                Data Labeling
            </p>
        </div>
    </div>
    <div>
        <div style="text-align:left; background-color: white; width: 70rem; height: 3rem; display: inline-block; margin-top: 0rem">
            <div style="margin: 0.5rem; font-size: 1rem; display: inline-block" class="subject"> 제품명 </div>
            <div style="margin: 0.5rem;display: inline-block"><input type="text" placeholder="제품지정"></div>
            <div style="margin: 0.5rem; padding-left: 0.5rem; font-size: 1rem; display: inline-block" class="subject"> 데이터명 </div>
            <div style="margin: 0.5rem;display: inline-block;"><input type="text" placeholder="파일지정"></div>
            <div style="margin: 0.5rem; font-size: 1rem; display: inline-block" class="subject">
                <form action="">
                    <input type="submit" value="선택">
                </form>
            </div>
        </div>
        <div style="text-align: left; background-color: #DCDCDC; width: 70rem; height: 10rem; display: inline-block; margin-left: 0rem; padding-left: 0.5rem">
            <p><div style="margin-bottom: 1.5rem; display: inline-block">Category</div></p>
            <p>
                <div style="display: inline-block">Sentiment</div>
                <div style="margin-left: 0.5rem; font-size: 1rem; display: inline-block" class="subject">
                    <form action="">
                        <input type="submit" value="긍정">
                    </form>
                </div>
                <div style="margin-left: 0.5rem; font-size: 1rem; display: inline-block" class="subject">
                    <form action="">
                        <input type="submit" value="부정">
                    </form>
                </div>

            </p>
            <p><div style="display: inline-block">Data SetUp</div></p>
        </div>
        <div style="background-color: red; width: 70rem; height: 6rem; display: inline-block; margin-top: 0rem"></div>
        <div style="background-color: black ;width: 70rem; height: 15rem; display: inline-block; margin-top: 0rem"></div>
    </div>
</div>
{% endblock %}