{% extends 'base.html' %}

{% block content %}
<style>
    .subject{
        font-size: 1.2rem;
        font-weight: bold;
    }

</style>


<div style="width: 100%; text-align: center; margin-top: 3rem;">
    <div style="width: 50rem; height: 30rem; margin: 3rem 3rem 3rem 3rem; display: inline-block; margin-top: 0rem">
        <div style="text-align: left; width: 13rem;">
            <p style="font-family: 'Josefin Sans', sans-serif; font-weight: 300; font-size: 2rem">
                Data Export
            </p>
        </div>
        <!-- 제품군 선택 (h5, select, input태그)-->
        <!-- method 설정 필요합니다. -->
        <form action="{% url 'uploadapp:upload' %}" method="get">
            {% csrf_token%}
            <div style="text-align: left ">
                <p style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; font-size: 1.1rem;
                    display: inline-block; margin-top: 0rem; margin-bottom: 0rem;" class="subject">제품 선택</p>
                <select name='product' style="margin-left: 0.5rem; display: inline-block; width: 8rem; height: 1.9rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                    <option style="text-align: center" value='' selected>--- 선택 ---</option>
                    <option value='cleaner'>청소기</option>
                    <option value='refrigerator'>냉장고</option>
                    <option value='dish_washer'>식기세척기</option>
                </select>
                <input style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; margin-left: 0.2rem;" type="submit" value="완료">
            </div>
        </form>

        <hr>
        <!-- 카테고리 보기 및 생성-->
        <!-- method 설정 필요합니다. -->
        <form action="{% url 'outputapp:output' %}" method="get">
            {% csrf_token %}
            <p style="text-align: left; margin-bottom: 0.5rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; font-size: 1.1rem;" class="subject">미리보기</p>
            <div style="display: inline-block; width: 100%; height: 13rem; background-color: #eeeeee; border-radius: 1rem; padding: 1rem 1rem 1rem 1rem">

                <!-- 카테고리 리스트 -->
                <div style="height: 9rem">

                </div>


            </div>
        </form>

        <hr>
        <p style="text-align: left; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; font-size: 1.1rem;" class="subject">내보내기</p>
        <!--엑셀 파일 csv로 내보내기 => 엑셀 파일 필요시, 주피터로 중복 전처리 후, 엑셀로 뽑아내야함-->
        <div style="margin-top: 1rem; width: 100%; height: 3.5rem; padding: 0rem 0.8rem 0.8rem 0.8rem; text-align: center; border-radius: 0.8rem; ">
            <form action="{% url 'outputapp:output' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}


                <input style="width: 200px; margin: 0 auto 30px; padding: 10px 25px; font-size: 1.4rem;
                background-color: #eeeeee; border-radius: 0.9rem; font-family: 'Josefin Sans', sans-serif; font-weight: 300;" type="submit" value=".csv export">
            </form>
        </div>

    </div>
</div>
{% endblock %}