{% extends 'base.html' %}
{% block content %}
    <div style="width: 100%; text-align: center">

        <div style="width: 50rem; height: 30rem; margin: 3rem 3rem 3rem 3rem; display: inline-block; margin-top: 0rem; text-align: center">


            {% if target_user.profile %}
            <div style="margin-top: 12rem;">
                <img src="{{ target_user.profile.image.url }}" alt=""
                     style="width: 12rem; border-radius: 8rem; margin-bottom: 1rem;">
                <div style="font-family: 'Josefin Sans', sans-serif; font-weight: 400;">
                    <h5 style="margin-bottom: 1rem"> {{ target_user.profile.name }}</h5>
                </div>
            </div>
            {{ diary.image.url }}
            {% else %}
                <a href="{% url 'mainapp:account_profile' %}" style="display: inline-block; margin-top: 15rem;">
                    <p class="btn"
                       style="width: 10rem; height: auto; padding: 0.3rem 0.3rem 0.3rem 0.3rem; border-radius: 0.5rem;
                              background-color: #eeeeee; display: block; font-family: 'Nanum Gothic Coding', monospace;">
                        프로필 생성하기</p>

                </a>
            {% endif %}

            <div style="font-family: 'Josefin Sans', sans-serif; font-weight: 300; font-size: 1.3rem">
            {{ target_user }}
            </div>

        </div>
    </div>

{% endblock %}