{% extends 'navigator.html' %}

{% block navigator %}

    <div style="margin: 1rem 1rem">
        <a>
            LG Project
        </a>

        <div>
            <a href="{% url 'uploadapp:upload' %}" methods="GET">
                <h3>업로드</h3>
            </a>
        </div>
        <div>
            <a href="#" methods="GET">
                <h3>라벨링</h3>
            </a>
        </div>
        <div>
            <a href="{% url 'labelingapp:work' %}" methods="GET">
                <h5>라벨링-작업</h5>
            </a>
        </div>
        <div>
            <a href="{% url 'labelingapp:inspect' %}" methods="GET">
                <h5>라벨링-검수</h5>
            </a>
        </div>
    </div>


{%  endblock %}