{% extends 'base.html' %}

{% block content %}

    <!-- 사용 설명 기재 란(추후 수정 필요) -->
    <div style="text-align: center; width: 100%;">
        <div style="display: inline-block; background-color: #eeeeee; width: 50rem; height: 20rem; margin-top: 6rem;">
            <p style="font-size: 2rem; font-family: 'Josefin Sans', sans-serif; font-weight: 300;">
                User's Guide
            </p>
            <p style="text-align: left; font-family: 'Nanum Gothic Coding', monospace; margin-top: 1rem; margin-left: 1rem; line-height: 2rem;">
                1. 회원가입 및 로그인을 한다.<br>
                2. upload 클릭 후 제품, 카테고리, 파일을 선택한다.<br>
                3. 1차 작업을 클릭하여 작업할 데이터 번호를 지정한 후 불러온다.<br>
                4. 데이터에 해당하는 카테고리와 긍정, 부정을 드래그를 통해 적용시킨다.<br>
                5. next: 다음 데이터로 넘어가며, 이전 데이터는 다시 볼 수 없다.<br>
                6. reset: 적용시켜 놓았던 것을 모두 해제한다.<br>
                7. output: 검수완료된 키워드 + 긍정 / 부정 조합을 보여주며, 데이터를 .xlsx파일로 내보낼 수 있다.<br>
            </p>
        </div>
    </div>
{% endblock %}