<!doctype html>
<html lang="ko">
<!-- <head>태그 받아오기 -->
{% include 'head.html' %}

<body>
{% load static %}
{% load bootstrap4 %}
    <div style="text-align: center;width: 100%; margin: 8rem 5rem 3rem 0rem">
        <h4 style="display: inline-block; font-family: 'Josefin Sans', sans-serif; font-weight: 300; font-size: 1.6rem">Review Labeling</h4>
        <br>
        <br>
        <div style="font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; width: 27rem; display: inline-block; text-align: left">
            <form action="" method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                <input type="submit" class="btn btn-info rounded-pill" value="SignUp" style="font-size: 1.3rem; width: 100%; margin-top: 1rem; font-family: 'Josefin Sans', sans-serif; font-weight: 300; background-color: #eeeeee; border-color: #eeeeee">
            </form>
        </div>
    </div>

</body>
