{% extends 'base.html' %}

{% block content %}

    <div style="text-align: center; margin-top: 3rem;">
        <form method="get">
        {% csrf_token %}
            <select name='category_product' style="display: inline-block; width: 8rem; height: 1.9rem;
                                    font-family: 'Nanum Gothic Coding', monospace; font-weight: 200; margin-left: 0.3rem;">
                    <option value='cleaner'>청소기</option>
                    <option value='refrigerator'>냉장고</option>
                    <option value='dish_washer'>식기세척기</option>
            </select>
            <input type="submit" value="확인">
        </form>
        <div>
        <div style="margin-top: 4rem;">
        {% if category_product %}
                <h4> "제품: {{ category_product }}" </h4>
        {% endif %}
        <div style="margin-top: 1rem;">
        {% if result %}
            {% for name, count in result %}
                    <h5>- ID) {{ name }} : {{ count }}개</h5>

            {% endfor %}
        {% endif %}
        </div>
        </div>
    </div>

{% endblock %}