{% extends 'base.html' %}

{% block content %}

<div style="height: 40rem; width: 100%; display: flex; justify-content: center;">
    <div style="height: 100%; width: 90%;">
        <div>
            <div style="display:inline-block;height: 3.5rem; width: auto; padding: 1rem">
                <form action="" method="get">
                {% csrf_token%}
                    <div style="text-align: left">
                        <input name="category_product" type="radio" name="selected" value="cleaner">&nbsp;청소기&nbsp;&nbsp;
                        <input name="category_product" type="radio" name="selected" value="refigerator">&nbsp;냉장고&nbsp;&nbsp;
                        <input name="category_product" type="radio" name="selected" value="dish_washer">&nbsp;식기세척기&nbsp;&nbsp;
                        <input class="btn btn-secondary rounded-pill" type="submit" value="선택" style="width:8rem;margin-left: 0.2rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                    </div>
                </form>
            </div>
            <div style="display:inline-block;height: 3.5rem; width: auto; float: right;padding: 1rem">
                <div style="display: inline-block; font-weight: bold">총 개수</div>
                <div style="display: inline-block; font-weight: bold">작업완료</div>
                <div style="display: inline-block; font-weight: bold">검수완료</div>
                <div style="display: inline-block; font-weight: bold">삭제</div>
            </div>
        </div>
        <div style="display:inline-block;height: 36.5rem; width: 35%">
            <div style="height: 1.5rem;"></div>
            <div style="height: 35rem; border: 1px solid black">
                <div style="height: 1.5rem;text-align: center;border-bottom: 1px solid black">
                    <div style="height: 1.5rem;display: inline-block;width: 28%">카테고리</div>
                    <div style="height: 1.5rem;display: inline-block;width: 15%">긍정</div>
                    <div style="height: 1.5rem;display: inline-block;width: 15%">부정</div>
                    <div style="height: 1.5rem;display: inline-block;width: 15%">중립</div>
                    <div style="height: 1.5rem;display: inline-block;width: 17%">총개수</div>
                </div>
                <div style="height: 33.5rem;text-align: center;margin-top: 1rem">
                    <div style="display: inline-block;height: 33.5rem;width: 28%">
                        {% if status_category %}
                        {% for status_category in status_category %}
                        <p>{{ status_category.category_middle }}</p>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div style="display: inline-block;height: 33.5rem;width: 15%">긍정</div>
                    <div style="display: inline-block;height: 33.5rem;width: 15%">부정</div>
                    <div style="display: inline-block;height: 33.5rem;width: 15%">중립</div>
                    <div style="display: inline-block;height: 33.5rem;width: 17%">총개수</div>
                </div>
            </div>
        </div>
        <div style="display:inline-block;height: 36.5rem; width: 19%; text-align: center; vertical-align: top">
            <div style="height: 1.5rem;">Keyword</div>
            <div style="height: 35rem; border: 1px solid black">
                <div style="height: 1.5rem;text-align: center; border-bottom: 1px solid black">
                    <div style="height: 1.5rem;display: inline-block;width: 45.5%">대상</div>
                    <div style="height: 1.5rem;display: inline-block;width: 45.5%">현상</div>
                </div>
                <div style="height: 33.5rem;text-align: center; margin-top: 1rem;margin-bottom: .5rem">
                    <div style="display: inline-block; height: 32rem; width:45.5%;">키워드자리</div>
                    <div style="display: inline-block; height: 32rem; width:45.5%;">현상자리</div>
                </div>
            </div>

        </div>
        <div style="display:inline-block;height: 36.5rem; width: 45%; text-align: center; vertical-align: top">
            <div style="height: 1.5rem;">Review</div>
            <div style="height: 35rem; border: 1px solid black">
                <div style="height: 1.5rem;text-align: center; border-bottom: 1px solid black">
                    <div style="height: 1.5rem;display: inline-block;width: 12%">번호</div>
                    <div style="height: 1.5rem;display: inline-block;width: 80%">원데이터</div>
                </div>
                <div style="height: 33.5rem;text-align: center; margin-top: 1rem;margin-bottom: .5rem">
                    <div style="display: inline-block; height: 32rem; width:12%;">번호</div>
                    <div style="display: inline-block; height: 32rem; width:80%;">원데이터</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}