{% extends 'base.html' %}

{% block content %}
    <style>
        /*폰트*/
        .english {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1.5rem;
            font-weight: 300;
            height: 3rem;

        }

        .korean {
            font-family: 'Nanum Gothic Coding', monospace;
        }

        /*오른쪽 상단 개수표시*/
        .right_top {
            display: inline-block;
            font-weight: bold;
            font-family: 'Nanum Gothic Coding', monospace;
        }

        /*데이터스크롤영역*/
        .graph_space {
            display: inline-block;
            text-align: center;
            vertical-align: top;
            height: 40rem;
        }

        /*속성값아래 줄긋기*/
        .bot_line {
            height: 2rem;
            text-align: center;
            border-bottom: 1px solid black;
        }

        /*데이터의 속성값*/
        .data_label {
            height: 1.5rem;
            display: inline-block;
            font-family: 'Nanum Gothic Coding', monospace;
        }

        /*실제 데이터가 들어가는 부분*/
        .date_space {
            overflow-y: scroll;
            height: 33.5rem;
            text-align: center;
            margin-top: .5rem;
            margin-bottom: .5rem;
            vertical-align: top;
            font-family: 'Nanum Gothic Coding', monospace;
        }

        /*속성마다 데이터의 구역을 구분*/
        .date_space_cut {
            display: inline-block;
            vertical-align: top;
            font-family: 'Nanum Gothic Coding', monospace;
        }

        .sort {
            display: inline-block;
        }

        .sort input[type=submit] {
            width: 1rem;

        }

        #review_number {
            border-top: black solid 0.5px;
        }

        #review_content {
            border-bottom: black solid 0.5px;
        }
        table tr:nth-child(even) {
            background: #EFEEEE;
        }
        table tr:nth-child(odd) {
            background: white;
        }


    </style>

    <script>
        function chk_form(form_name) {
            document.getElementById(form_name).submit();
            var link = document.location.href;
            console.log(link);

        }
    </script>

    <div style="height: 44rem; width: 100%; display: flex; justify-content: center;">
        <!--    전체-->
        <div style="height: 100%; width: 90%;">
            <div>
                <!--            왼쪽상단:제품군선택-->
                <div style="display:inline-block;height: 3.5rem; width: auto; padding: 1rem">
                    <form action="" method="get">
                        {% csrf_token %}
                        <div class="korean" style="text-align: left">
                            <input name="category_product" type="radio" name="selected" value="cleaner">&nbsp;청소기&nbsp;&nbsp;
                            <input name="category_product" type="radio" name="selected" value="refrigerator">&nbsp;냉장고&nbsp;&nbsp;
                            <input name="category_product" type="radio" name="selected" value="dish_washer">&nbsp;식기세척기&nbsp;&nbsp;
                            <input class="btn btn-secondary rounded-pill" type="submit" value="선택"
                                   style="width:8rem;margin-left: 0.2rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
                        </div>
                    </form>
                </div>

                <!--            오른쪽상단:총개수현황-->
                <div style="display:inline-block;height: 3.5rem; width: auto; float: right;padding: 1rem">
                    <div class="right_top">총 개수 {{ alltotal }}</div>
                    <div class="right_top">작업완료 {{ first_num }}</div>
                    <div class="right_top">검수완료 {{ second_num }}</div>
                    <div class="right_top">삭제 {{ dummy_num }}</div>
                </div>
            </div>


            <!--        카테고리표구역-->
            <div class="graph_space" style="width: 35%">
                <div class="english"></div>
                <div style="height: 37rem; border: 1px solid black">
                    <!--                표 속성-->
                    <div class="bot_line">
                        <div class="data_label" style="width: 28%">카테고리</div>
                        <div class="data_label" style="width: 15%">
                            <a href="#" onclick="return chk_form('positive_sort')">긍정</a>
                            <form method="post" class="sort" id="positive_sort">
                                {% csrf_token %}
                                <input type="hidden" name="sort" value="positive">
                            </form>
<!--                            <a href="#" onclick="return chk_form('positive_sort')"><b>↓</b></a>-->
                        </div>
                        <div class="data_label" style="width: 15%">
                            <a href="#" onclick="return chk_form('negative_sort')">부정</a>
                            <form method="post" class="sort" id="negative_sort">
                                {% csrf_token %}
                                <input type="hidden" name="sort" value="negative">
                            </form>
<!--                            <a href="#" onclick="return chk_form('negative_sort')"><b>↓</b></a>-->
                        </div>
                        <div class="data_label" style="width: 15%">
                            <a href="#" onclick="return chk_form('neutral_sort')">중립</a>
                            <form method="post" class="sort" id="neutral_sort">
                                {% csrf_token %}
                                <input type="hidden" name="sort" value="neutral">
                            </form>
<!--                            <a href="#" onclick="return chk_form('neutral_sort')"><b>↓</b></a>-->
                        </div>
                        <div class="data_label" style="width: 17%">
                            <a href="#" onclick="return chk_form('everything_sort')">총개수</a>
                            <form method="post" class="sort" id="everything_sort">
                                {% csrf_token %}
                                <input type="hidden" name="sort" value="everything">
                            </form>
<!--                            <a href="#" onclick="return chk_form('everything_sort')"><b>↓</b></a>-->
                        </div>
                    </div>
                    <!--                제품군에 맞는 카테고리와 개수-->
                    <div class="date_space">
                        {% for category_detail_list, positive, negative, neutral, everything, order in data %}
                            <div class="date_space_cut" style="width: 28%;">
                                <p>{{ category_detail_list }}</p>
                            </div>

                            <!-- 긍정 개수 -->
                            <div class="date_space_cut" style="width: 15%;">
                                <p>
                                    <a href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=positive">{{ positive.count }}</a>
                                </p>
                            </div>

                            <!-- 부정 개수 -->
                            <div class="date_space_cut" style="width: 15%;">
                                <p>
                                    <a href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=negative">{{ negative.count }}</a>
                                </p>
                            </div>

                            <!-- 중립 개수 -->
                            <div class="date_space_cut" style="width: 15%;">
                                <p>
                                    <a href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=neutral">{{ neutral.count }}</a>
                                </p>
                            </div>

                            <!-- 총 개수 -->
                            <div class="date_space_cut" style="width: 15%;">
                                <p>
                                    <a href="?category_product={{ category_product }}&showing_index={{ order }}&showing_type=everything">{{ everything.count }}</a>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!--        키워드현상쌍 표 구역-->
            <div class="graph_space" style="width: 24%;">
                <div class="english">Keyword</div>
                <div style="height: 37rem; border: 1px solid black">
                    <!--                표 속성-->
                    <div class="bot_line">
                        <div class="data_label" style="width: 45.5%">대상</div>
                        <div class="data_label" style="width: 45.5%">현상</div>
                    </div>
                    <!--                실제 쌍-->
                    <div class="date_space">

                        {% for word in labeled_word %}
                            <div class="date_space_cut" style="width:45.5%;">{{ word.first_labeled_target }}</div>
                            <div class="date_space_cut" style="width:45.5%;">{{ word.first_labeled_expression }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>


            <!--        원데이터 표 구역-->
            <div class="graph_space" style="width: 40%;">
                <div class="english">Review</div>
                <div style="height: 37rem; border: 1px solid black">
                    <!--                표속성-->
                    <div class="bot_line">
                        <div class="data_label" style="text-align:center;width: 10%">번호</div>
                        <div class="data_label" style="text-align:center;width: 82%">원데이터</div>
                    </div>
                    <!--                실제 리뷰-->
                    <div class="date_space">
                        <table>
                            <tr>{% for review in labeled_review %}</tr>
                            <td class="date_space_cut"
                                 style="width:10%; text-align: center;">{{ review.review_number }}</td>
                            <td class="date_space_cut"
                                 style="width:82%; text-align: left;">{{ review.review_content }}</td>
                            {% endfor %}
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}