<footer>
    {% load static %}

    <div style="text-align: center; margin:4rem 5rem 1rem 5rem;">
        <hr>
        <h4 style="display: inline-block; font-family: 'Josefin Sans', sans-serif; font-weight: 300; font-size: 1.3rem">Review Labeling</h4>
        <div style="display: block; font-size: 0.6rem; font-family: 'Nanum Gothic Coding', monospace; font-weight: 200;">
            고객 지원: <a href="{% url "labelingapp:dummydummy" %}">010-0000-0000</a>  기타 문의: dongeui@deu.ac.kr
        </div>


    </div>

</footer>