<footer>
    {% load static %}

    <div style="text-align: center; margin:1rem 5rem 1rem 5rem;">
        <hr>
        <img src="{% static 'img/LG_logo.png' %}" alt="LG_logo" title="LG_logo" style="width: 1.5rem; height: 1.5rem">
        <h4 style="display: inline-block; font-family: 'EB Garamond', serif;font-family: 'Josefin Slab', serif;">LG Labeling</h4>
        <div style="display: block; font-size: 0.5rem">
            고객지원:010-0000-0000  기타 문의:dongeui@deu.ac.kr
        </div>


    </div>

</footer>