
{% load static %}
<style>
    nav{
        display: inline-block;
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: 600;
    }
    a:hover{
        color: red;
    }

</style>

<header>


    <div style="text-align: right; margin-right: 2rem; margin-top: 0.5rem" >

        {% if user.is_authenticated %}  <!--로그인 한 상태-->
        <div style="width: auto; height: auto; display: inline-block; background-color: #eeeeee; text-align: center; border-radius: 0.5rem;
         padding: 0.1rem 0.6rem 0.1rem 0.6rem; font-size: 0.9rem; font-weight: 500">
        <img src="{{ user.profile.image.url }}" style="width: 1rem">
        {{ user.username }}
        </div>

        <div style="display: inline-block; width: auto; height: auto; margin-left: 1rem">
            <a href="{% url 'mainapp:logout' %}" style="font-size: 0.7rem">로그아웃</a>
                <strong style="display: inline-block; font-size: 0.7rem">  |  </strong>
            <a href="{% url 'mainapp:account' pk=user.pk %}" style="font-size: 0.7rem">마이페이지</a>
        </div>


        {% else %}  <!--로그인 안한 상태-->
        <a href="{% url 'mainapp:login' %}?next={{ request.path }}" style="font-size: 0.7rem">로그인</a>
        <strong style="display: inline-block; font-size: 0.7rem">  |  </strong>
        <a href="{% url 'mainapp:signup' %}?next={{ request.path }}" style="font-size: 0.7rem">회원가입</a>


        {% endif %}

    </div>


    <!--로고와 네비게이션 표현-->
    <div style="margin: 0rem 2rem 1rem 2rem; height: 3rem">
        <!--로고-->
        <a href="{% url 'mainapp:main' %}">
            <img src="{% static 'img/LG_logo.png' %}" alt="LG_logo" title="LG_logo" style="width: 3rem; height: 3rem; display: inline-block">
            <h1 style="display: inline-block; font-family: 'EB Garamond', serif;font-family: 'Josefin Slab', serif; font-weight: 600">LG Labeling</h1>
        </a>
        <!--네비게이션바--><!--각 app별 urls.py를 참고해서 a href 연결 필요-->
        <div style="text-align: center; display: inline-block; margin-left: 5rem">
            <nav style="margin-right: 2rem">
                <a href="{% url 'uploadapp:upload' %}">Data Upload</a>
            </nav>
            <nav style="margin-right: 2rem">
                <a href="{% url 'labelingapp:work' %}">1차 작업</a>
            </nav>
            <nav style="margin-right: 2rem">
                <a href="{% url 'labelingapp:inspect' %}">2차 작업</a>
            </nav>
            <nav style="margin-right: 2rem">
                <a href="dashboard.html">작업 현황</a>
            </nav>
            <nav style="">
                <a href="{% url 'outputapp:output' %}">Data Export</a>
            </nav>
        </div>
    </div>

</header>
